* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}



body{
    margin: 0px;
}

.header-container{
    display: flex;
    height: 50px;
}

.office-border {
    border-top: 2px solid #1a75ff;
    border-bottom: 2px solid #1a75ff;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.office-name {
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.menu-item {
    background: gray;
    color: white;
    padding: 15px;
    border: 1px solid white;
    flex: 1;
    text-align: center;
    cursor: pointer;

}


